@use '../../../index.scss' as vars;

.month {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    margin-top: 10px;
    padding: 3px;
}

.month__day {
    width: 100%;
    height: 40px;
    display: grid;
    place-items: center;
    border: 2px solid transparent;
    outline: 2px solid transparent;
    color: vars.$text;
    font-weight: 300;
    user-select: none;
}

.month__day:hover {
    // border-color: vars.$icon-hover;
}

.month__day.today {
    outline-color: #007ACC;
    border-color: black;
    font-weight: 500;
    background: #007ACC;
}

.month__day.active {
    outline-color: #007ACC;
}