.icon {
    user-select: none;

}

.icon__image {
    user-select: none;

}

.icon__image img {
    height: 65px;
    object-fit: contain;
    max-width: 100%;
    width: 100%;
    display: block;
    margin: 0 auto;
    user-select: none;
}

.icon__name {}