.desktop {
    padding: 10px 20px;
    height: calc(100vh - 45px);
}

.desktop__wrapper {
    display: flex;
    gap: 1px;
}

.desktop__bg {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
}